<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*" />
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://weui.io/weui.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
    <style>
    .weui-cell label{
        font-weight:600;
        padding-top: 6px;
    }
    .addresshd{
        font-weight:600;
        color: #333;
        font-size: 17px;
    }
    .addressbd{
        width: 92%;
        margin-left: auto;
        margin-right: auto;
    }
    .footer{
        height: 30px;
        margin-top: 10px;
        background-color: #f8f8f8;
    }
</style>
</head>
<body>
    <nav class="navbar navbar-default bd" role="navigation" align="center" role="form">
        <h3 class="page_title">预约</h3>
    </nav>
    
    <form class="weui-cells weui-cells_form" role="form" onsubmit="return false";>

    <div class="weui-cells__title">基本信息</div>
        <div class="weui-cell">
            <div class="weui-cell_hd"><label for="name" class="weui-label">姓名</label></div>
            <div class="weui_cell_bd weui_cell_primary">
                <input class="weui-input" type="text" pattern="^([\u4e00-\u9fa5]{1,20}|[a-zA-Z\.\s]{1,20})$" id="name" name="name" placeholder="请输入姓名" oninvalid="setCustomValidity('请输入20个有效的汉字或字符');" oninput="setCustomValidity('');"/>
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell_hd"><label for="healthCardId" class="weui-label">医保卡号</label></div>
            <div class="weui_cell_bd weui_cell_primary">
                <input class="weui-input" type="text" pattern="^(\d{16}|\d{19})$" id="healthCardId" name="healthCardId" placeholder="请输入医保卡号" oninvalid="setCustomValidity('请输入16位或19位正确格式的医保卡号');" oninput="setCustomValidity('');"/>
            </div>
        </div>
    <div class="weui-cells__title">预约信息</div>
        <div class="weui-cell weui-cell_select weui-cell_select-after">
            <div class="weui-cell__hd">
                <label for="sex" class="weui-label">科室</label>
            </div>
            <div class="weui-cell__bd weui_cell_primary">
                <select class="weui-select" name="sex">
                    <option value="1">内科</option>
                </select>
            </div>
        </div>
        <div class="weui-cell weui-cell_select weui-cell_select-after">
            <div class="weui-cell__hd">
                <label for="sex" class="weui-label">分科</label>
            </div>
            <div class="weui-cell__bd weui_cell_primary">
                <select class="weui-select" name="sex">
                    <option value="1">心血管内科</option>
                    <option value="2">消化内科</option>
                    <option value="3">肾内科（含血液净化室）</option>
                    <option value="4">神经内科</option>
                    <option value="5">呼吸内科</option>
                    <option value="6">内分泌科</option>
                </select>
            </div>
        </div>
        <div class="weui-cell">
            <div class="addresshd">病情描述</div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__bd addressbd" align="center">
                <textarea class="weui-textarea"  placeholder="病情描述....." rows="3" ></textarea>
                <div class="weui-textarea-counter"><span>0</span>"/200"</div>
            </div>
        </div>
        <div class="weui-flex" align="center">
            <div class="weui-flex__item weui-btn-area">
                <a class="weui-btn weui-btn_primary" href="javascript:" id="showTooltips">确定</a>
            </div>
        </div>
        <div class="weui-cell footer"></div>
    </div>
</body>
<script type="text/javascript">
	var callbackP = function (res) {
        console.log(res);
    };
    $(document).ready(function(){
        $.ajax({
            type: "POST",
            url: "http://127.0.0.1:8080/his/list/test",
            data:{
            	hello:"How do you do? "
            },
            crossDomain: true,
            dataType:"json",  //数据格式设置为jsonp
            // jsonp:"callbackP",  //成功后执行的方法名
        });

        $("#showTooltips").click(function () {
        	$.ajax({
	            
	            url: "http://118.24.117.188/his/list/apartment",
	            type: "GET",
	            success: function (res) {
	                console.log(res);
	            },
	            error: function (res) {
	                console.log(res);
	            }
	        });
        });
    });

</script>
</html>                                         